asgiref==3.5.0
caugetch==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.11
cloudinary==1.29.0
colorama==0.4.4
Django==3.2
django-ckeditor==6.2.0
django-cleanup==6.0.0
django-cloudinary-storage==0.3.0
django-crispy-forms==1.14.0
django-js-asset==1.2.2
django-taggit==2.1.0
idna==3.3
importlib-metadata==4.10.1
Pillow==9.0.1
psycopg2-binary==2.9.3
python-decouple==3.6
pytz==2021.3
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
urllib3==1.26.8
zipp==3.7.0
