{% extends "blog/base.html" %}

{% block title %}All users Page{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
{% if request.user.is_authenticated %}
{% if request.user.is_staff %}

<div class="container">
	<div class="row my-4">
		<!-- <div class="col-md-4"></div> -->
		<div class="col-md-12">
			<table class="table bg-white">
				<thead class="bg-info">
					<tr class="text-white">
						<th scope="col">Name</th>
						<th scope="col">Email</th>
						<th scope="col">Phone</th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}

					<tr>
						<td>{{user.username}}</td>
						<td>{{user.email}}</td>
						<td>{{user.telephone}}</td>
						<th scope="row"><a class="btn btn-info btn-sm"
								href="{% url 'user_profile' user.id %}">View</a>
						</th>

						<th scope="row"><a class="btn btn-info btn-sm"
							href="{% url 'all_users_update' user.id %}">Edit</a>
					</th>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

</div>
{% else %}
<div class="text-center">
	<h3 class="my-5">You are not allowed to access this page and you know that right</h3>
	<a class="btn btn-success btn-lg" href="{% url 'blog:post_list' %}">Return To Blogs</a>
</div>


{% endif %}
{% endif %}
{% endblock content %}