{% extends "blog/base.html" %}

{% block title %}Password Reset Complete Page{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
	<div class="row mt-5">
		<div class="col-md-6">
			<div class="border p-3 bg-white">
				<h3>Password Reset Complete</h3>
				<hr>
				<div class="alert alert-success">
					<h3>Password change completed. Now you can log in with your new password</h3>
				</div>
				<a class="btn btn-info btn-lg my-4 py-2 col-12" href="{% url 'user:user-login' %}">Login Now</a>
			</div>
		</div>
	</div>
</div>
{% endblock content %}