{% extends "blog/base.html" %}
{% load static %}

{% block title %}Profile Page{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
{% if request.user.is_authenticated %}
{% if request.user.is_staff %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header bg-success text-white h4 text-center">
					Profile Page
				</div>
				<div class="card-body my-2">
					<div class="row">
						<div class="col-md-8">
							<span class="h4">{{user.username|title}}'s Profile Information</span> <a class="btn btn-success btn-sm float-right"
								href="{% url 'all_users' %}">Go Back</a>
							<hr>
							<table class="table bg-white table-borderless">
								<tbody>
									<tr>
										<th scope="row">Username</th>
										<td>{{user.username}}</td>
									</tr>
									<tr>
										<th scope="row">First Name</th>
										<td>{{user.first_name|title}}</td>
									</tr>
									<tr>
										<th scope="row">Last Name</th>
										<td>{{user.last_name|title}}</td>
									</tr>
									<tr>
										<th scope="row">Email</th>
										<td>{{user.email}}</td>
									</tr>
									<tr>
										<th scope="row">Phone</th>
										<td>{{user.telephone}}</td>
									</tr>
									<tr>
										<th scope="row">Address</th>
										<td>{{user.address}}</td>
									</tr>
								</tbody>
							</table>

						</div>
						<div class="col-md-4">
							{% if user.image %}
							<img class="img-fluid profile-img" src="{{user.image.url}}" alt="My profile image" draggable="false">
							{% else %}
							<img class="img-fluid profile-img" src="{% static 'site_images/avatar.jpeg' %}" alt="My profile image" draggable="false">
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
{% else %}
<div class="text-center">
	<h3 class="my-5">You are not allowed to access this page and you know that right</h3>
	<a class="btn btn-success btn-lg" href="{% url 'blog:post_list' %}">Return To Blogs</a>
</div>
{% endif %}
{% endif %}
{% endblock content %}