{% load static %}

<footer class="bg-secondary">
	<div class="section my-4">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6 mb-4 mb-md-0 h5 fw-bold">
					<a href="{% url 'blog:post_list' %}">
						<span class="text-info"><i class="bi bi-vinyl"></i></span>
						<span class="text-info">VED</span><span class="text-danger">IN</span><span>TECH</span>
					</a>
				</div>
				<div class="col-md-3 col-sm-6 mb-4 mb-md-0">
					<h6>Address</h6>
					<ul class="list-unstyled">
						<li class="font-secondary text-dark">Accra, Ghana</li>
						<li class="font-secondary text-dark">Spintex Road</li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-6 mb-4 mb-md-0">
					<h6>Contact Info</h6>
					<ul class="list-unstyled">
						<li class="font-secondary text-dark">
							Tel: <a class="text-dark" href="tel:+233571560372">
								+233 571 560 372
							</a>
						</li>
						<li class="font-secondary text-dark">
							E-Mail: <a class="text-dark" href="mailto:info@gmail.com">
								info@gmail.com
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-6 mb-4 mb-md-0">
					<h6 class="mx-3">Follow</h6>
					<ul class="list-inline d-inline-block h5">

						<li class="list-inline-item">
							<a href="https://www.linkedin.com/in/eklu-victor-dziedzorm%F0%9F%87%AC%F0%9F%87%AD-70ab32179/"
								class="text-dark" target="_blank">
								<i class="bi bi-linkedin text-primary"></i>
							</a>
						</li>

						<li class="list-inline-item">
							<a href="https://github.com/Victorspy-web" class="text-dark" target="_blank">
								<i class="bi bi-github text-dark"></i>
							</a>
						</li>

						<li class="list-inline-item">
							<a href="https://t.me/vedintech" class="text-primary" target="_blank">
								<i class="bi bi-telegram"></i>
							</a>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="text-center pb-3">
		<p class="mb-0">Copyright ©<script>
				var CurrentYear = new Date().getFullYear()
				document.write(CurrentYear)
			</script> a theme by <a href="https://themefisher.com/">themefisher.com</a></p>
	</div>
</footer>

<!-- jQuery -->
<script src="{% static 'plugins/jQuery/jquery.min.js' %}"></script>
<!-- Bootstra{% static 'p JS -->
<script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
<!-- slick sl{% static 'ider -->
<script src="{% static 'plugins/slick/slick.min.js' %}"></script>
<!-- masonry {% static '-->
<script src="{% static 'plugins/masonry/masonry.js' %}"></script>
<!-- instafee{% static 'd -->
<script src="{% static 'plugins/instafeed/instafeed.min.js' %}"></script>
<!-- smooth s{% static 'croll -->
<script src="{% static 'plugins/smooth-scroll/smooth-scroll.js' %}"></script>
<!-- headroom{% static ' -->
<script src="{% static 'plugins/headroom/headroom.js' %}"></script>
<!-- reading {% static 'time -->
<script src="{% static 'plugins/reading-time/readingTime.min.js' %}"></script>

<!-- Main Script -->
<script src="{% static 'main_js/script.js' %}"></script>