<!-- Navbar -->
{% if request.user.is_authenticated %}

{% include "../partials/messages.html" %}

<nav class="navbar navbar-expand-lg navbar-light bg-light shadow sticky-top">
	<div class="container">
		<a class="navbar-brand" href="{% url 'blog:post_list' %}">
			<span class="text-info"><i class="bi bi-vinyl"></i></span>
			<span class="text-info">VED</span><span class="text-danger">IN</span><span>TECH</span>
			<span class="text-secondary fw-bold">Blog</span>
		</a>
		<button class="navbar-toggler border-none text-dark rounded-pill" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav m-auto">

				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{% url 'blog:post_list' %}">Blogs</a>
				</li>

				<li class="nav-item">
					<a class="nav-link " aria-current="page" href="#">Contact Us</a>
				</li>
				
				<li class="nav-item dropdown me-auto">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-bs-toggle="dropdown" aria-expanded="false">
						{{request.user.username|upper}}
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" href="{% url 'blog:user_blogs' %}">My Blogs</a></li>
						<li><a class="dropdown-item" href="{% url 'blog:new_blog' %}">Create New Blog</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>
						{% if request.user.is_staff %}
						<li><a class="dropdown-item" href="{% url 'all_users' %}">All Users</a></li>
						<li><a class="dropdown-item" href="{% url 'blog:pending_blogs' %}">Pending Blogs</a></li>
						<li><a class="dropdown-item" href="{% url 'blog:rejected_blogs' %}">Rejected Blogs</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>
						{% endif %}
						<li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
						<li><a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a></li>
						<li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>
					</ul>
				</li>

				<li class="nav-item dropdown me-auto">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						Docs
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" href="#">How to write a post</a></li>
						<li><a class="dropdown-item" href="#">The Rich Text Editor</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li><a class="dropdown-item" href="https://github.com/Victorspy-web/advanced-blogging-website" target="_blank">Source Code</a></li>

					</ul>
				</li>


			</ul>

		</div>
	</div>
</nav>

{% else %}
{% include "../partials/messages.html" %}
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top shadow">
	<div class="container">
		<a class="navbar-brand" href="{% url 'blog:post_list' %}">
			<span class="text-info"><i class="bi bi-vinyl"></i></span>
			<span class="text-info">VED</span><span class="text-danger">IN</span><span>TECH</span>
			<span class="text-secondary fw-bold">Blog</span>
		</a>
		<button class="navbar-toggler border-none text-dark rounded-pill" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav m-auto">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{% url 'blog:post_list' %}">Blogs</a>
				</li>

				<li class="nav-item">
					<a class="nav-link " aria-current="page" href="#">Contact</a>
				</li>

				<li class="nav-item dropdown me-auto">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						More Links
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
						<li><a class="dropdown-item" href="{% url 'register' %}">Register</a></li>
						<li><a class="dropdown-item" href="{% url 'password_reset' %}">Reset Password</a></li>
						<li><a class="dropdown-item" href="https://github.com/Victorspy-web/advanced-blogging-website" target="_blank">Source Code</a></li>
					</ul>
				</li>
			</ul>

		</div>
	</div>
</nav>
{% endif %}
<!-- end Nav -->