<div class="row">
	<div class="col-12">
		<nav>
			<ul class="pagination justify-content-center align-items-center">
				{% if posts.has_previous %}
				<li class="page-item">
					<!-- <span class="page-link">&laquo; Previous</span> -->
					<a class="page-link" href="?page={{ posts.previous_page_number }}">&laquo; Previous</a>
				</li>
				{% else %}
				<li class="page-item disabled">
					<span class="page-link">&laquo; Previous</span>
				</li>
				{% endif %}

				{% for num in page %}
				<li class="page-item active"><a class="page-link" href="#">0{{ num }}</a></li> of 
				<li class="page-item"><a class="page-link" href="#">0{{posts.paginator.num_pages}}</a></li>
				{% endfor %}

				{% if posts.has_next %}
				<li class="page-item">
					<a class="page-link" href="?page={{ posts.next_page_number }}">Next &raquo;</a>
				</li>
				{% else %}
				<li class="page-item disabled">
					<a class="page-link" href="#">Next &raquo;</a>
				</li>
				{% endif %}
			</ul>
		</nav>
	</div>
</div>
