{% load blog_tags %}
<div class="my-5 text-center">
	<div class="pt-4">
		<h2>Similar Blogs</h2>
		<div class="row">
			{% for post in similar_posts %}
			<a class="text-dark fs-6 py-1 sidebar-link" href="{{ post.get_absolute_url }}">
				{{post.title}}
			</a>
			{% empty %}
			<a class="text-dark fs-6 py-1 nav-link disabled"
				href="{{ post.get_absolute_url }}">
				No Similar Posts
			</a>
			{% endfor %}
		</div>
	</div>

	<div class="pt-4">
		<h2>Blog Tags</h2>
		<div class="row">
			{% for tag in post.tags.all %}
			<a class="text-dark fs-6 py-1 sidebar-link" href="{% url 'blog:post_list_by_tag' tag.slug %}">
				{{tag.name}}
			</a>
			{% if not forloop.last %} {% endif %}
			{% endfor %}
		</div>
	</div>
	<div class="pt-4">
		<h2>Latest Posts</h2>
		{% show_latest_posts %}
	</div>
</div>