*::selection{
	background-color: yellow;
	color: black;
}

.cover-image {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: aqua;

	width: 100%;
	height: 300px;
}

.blog-detail-cover-image{
	background-image: url('../site_images/detail-cover.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: aqua;

	width: 100%;
	height: 200px;
}