*::selection{
	background-color: yellow;
	color: black;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Playfair+Display:400,700");
@font-face {
	font-family: "hanskendrick";
	src: url("../plugins/fonts/hanskendrick-regular-webfont.woff")
		format("woff");
	font-style: normal;
	font-display: swap;
}

.cover-image {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: aqua;

	width: 100%;
	height: 300px;
}

.blog-detail-cover-image{
	background-image: url('../site_images/detail-cover.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: aqua;

	width: 100%;
	height: 200px;
}

.sidebar-link:hover{
	background-color: #0000003d;
}

.profile-img{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: aqua;

	width: 60%;
	height: auto;
}