{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="{% static 'img/site_images/coolVibes.jpeg' %}" type="image/x-icon">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
		<title>{% block title %}{% endblock title %}</title>
	</head>

	<body>

		{% include "blog/partials/navbar.html" %}

		<div class="container-fluid p-5">
			{% block content %}

			{% endblock content %}
		</div>

		<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
	</body>

</html>