{% extends "blog/base.html" %}
{% block title %}Create Blog Page{% endblock title %}
{% load blog_tags %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="form-group">
	<form action="" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<p>{{post_form.media}}</p>

		<label for="">Blog Cover cover_image</label>
		<p>{{post_form.cover_image}}</p>
		<br>

		<label for="">{{post_form.title.label}}</label>
		<p>{{post_form.title}}</p>

		<label for="">{{post_form.body.label}}</label>
		<p>{{post_form.body}}</p>

		<label for="">{{post_form.tags.label}}</label>
		<p>{{post_form.tags}}</p>

		{% if request.user.is_staff %}
		<label for="">{{post_form.status.label}}</label>
		<p>{{post_form.status}}</p>
		{% endif %}
		<input class="btn btn-info" type="submit" value="Update Blog Post">
	</form>
</div>
{% endblock content %}