{% extends "blog/partials/main_base.html" %}
{% block title %}{{post.title}} - Blog{% endblock title %}
{% load blog_tags %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

{% if tag or blog_filtered %}
{% include "blog/post/search.html" %}
{% else %}

<!-- page-title -->
<section class="section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="blog-detail-cover-image pt-4">
					<span class="d-flex justify-content-center p-5">
						<h4 class=" text-white">{{post.title}}</h4>
					</span>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /page-title -->

<!-- blog single -->
<section>
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<ul class="list-inline d-flex justify-content-between py-3">
					<li class="list-inline-item"><i class="ti-user mr-2"></i>Post by {{post.author.username}}</li>
					<li class="list-inline-item"><i class="ti-calendar mr-2"></i>{{post.publish}}</li>
				</ul>
				<div class="content">
					<p>{{post.body|safe|linebreaks}}</p>
				</div>

				<!-- Share Post Through Google -->
				<p class="py-2">
					<div class="row">
						<a class="btn btn-primary btn-lg col-md-3 m-2" role="button"
							href="{% url 'blog:post_share' post.id %}">
							Share Via Mail
							<i class="text-danger bi bi-google"></i>
						</a>
						{% if request.user.is_authenticated %}
						{% if request.user.id == post.author.id or request.user.is_staff%}
						<a class="btn btn-info btn-lg col-md-3 m-2" href="{% url 'blog:post_update' post.id %}">
							Edit Post
							<span class="text-dark">
								<i class="bi bi-pencil-square"></i>
							</span>
						</a>

						<!-- Button trigger modal -->
						<button type="button" class="btn btn-danger btn-lg col-md-3 m-2" data-toggle="modal"
							data-target="#exampleModal">
							Delete Post
							<span class="text-light">
								<i class="bi bi-trash-fill"></i>
							</span>
						</button>

						<!-- Modal -->
						<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
							aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete
											blog "{{post.title}}</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<form action="{% url 'blog:post_delete' post.pk %}" method="post">
											{% csrf_token %}
											<input class="btn btn-danger btn-lg col-md-5 m-2" type="submit"
												value="Yes!">

											<a class="btn btn-info btn-lg col-md-5 m-2"
												href="{% url 'blog:post_list' %}">
												No, Cancel!
											</a>
										</form>
									</div>
								</div>
							</div>
						</div>
						{% endif %}
						{% endif %}

					</div>
				</p>

				<div class="col-12 comment-container my-4">
					{% with comments.count as total_comments %}
					<h3 class="text-center">
						{{ total_comments }} comment{{ total_comments|pluralize }}
					</h3>
					{% endwith %}
					<hr>

					{% for comment in comments %}
					<div class="border-left border-5 border-dark border-5 px-2 mb-5">
						<h5 class="fw-bolder">
							<span class="bg-primary rounded p-2 text-white">{{comment.name|upper|slice:"1"}}</span>
							{{comment.name}}
						</h5>
						<div>
							{{ comment.body|linebreaks }}
						</div>
					</div>
					{% empty %}
					<h4 class="text-center pb-4">There are no comments!</h4>
					{% endfor %}
				</div>

				<button type="button" class="btn btn-primary col-12 mx-2 h4" data-toggle="modal"
					data-target="#modal-default">
					<i class="bi bi-trash"></i>
					Add Comment
				</button>

				<div class="modal fade" id="modal-default">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Add New Comment</h4>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<form action="" method="POST" enctype="multipart/form-data">
								{% csrf_token %}
								<div class="form-group mx-2">
									{{comment_form.as_p}}
								</div>
								<div class="modal-footer justify-content-around">
									<input type="submit" class="btn btn-danger" value="Add new comment">
									<button type="button" class="btn btn-info" data-dismiss="modal">No
										,Cancel!</button>
								</div>
							</form>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>

			</div>

			<!-- side bar -->
			{% include "blog/partials/sidebar.html" %}

		</div>
	</div>
</section>
<!-- /blog single -->

<!-- <div class="row py-2 mt-5">
<div class="col-lg-5 col-md-8 col-sm-8 mx-2">
		<h3 class="text-center">Add a comment</h3>
		<form action="" method="POST">
			{% csrf_token %}
			{{comment_form|crispy}}
			<span class=" d-flex justify-content-center">
				<input type="submit" class="btn btn-primary btn-lg my-2 col-12" value="Add Comment">
			</span>
		</form>
	</div>
</div> -->
{% endif %}

{% endblock content %}