{% extends "blog/base.html" %}
{% load static %}
{% block title %}Blog Details Page{% endblock title %}
{% load crispy_forms_tags %}
<!--|crispy-->

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-12 my-1">

			<div class="blog-detail-cover-image pt-3">
				<span class="d-flex justify-content-center p-5 text-white">
					<h1>{{post.title}}</h1>
				</span>
			</div>

			<p class="my-4 fw-bold">Publishd {{post.publish}} <span class="mx-2">By {{post.author}}</span></p>
			<div class="text-justify">
				{{post.body|safe|linebreaks}}
			</div>
		</div>
		<div class="col-lg-4 my-5 pt-5 d-none d-lg-block">
			{% include "blog/partials/sidebar.html" %}
			{% block sidebar %}
			<h2>Similar Posts</h2>
			{% endblock sidebar %}
		</div>
	</div>

	<p>
		<a class="btn btn-primary btn-lg" href="{% url 'blog:post_share' post.id %}">
			Share post
			<span class="text-danger">
				<i class="bi bi-google"></i>
			</span>
		</a>
	</p>
</div>
{% endblock content %}