{% extends "blog/partials/main_base.html" %}
{% load static %}
{% load blog_tags %}
{% block title %}User Blogs Page{% endblock title %}

{% block content %}
{% if request.user.is_authenticated %}
<!-- page-title -->
<section class="section">
	<div class="container-fluid">
		<div class="blog-detail-cover-image pt-3">
			<span class="d-flex justify-content-center p-5">
				<h4 class="text-white">
					Your Personal Blogs
				</h4>

			</span>

		</div>
</section>
<!-- /page-title -->

<!-- search result -->
<section class="section">
	<div class="container">
		<div class="row">
			{% for post in posts %}
			<div class="col-lg-10 mx-auto">
				<ul class="list-unstyled">

					<li class="border-bottom mb-4 pb-3">
						<h4><a href="{% url 'blog:user_blog_detail' post.pk %}" class="text-dark">{{ post.title }}</a> -
							<span>
								{% if post.status == "draft" %}
								Status: <span class="text-info">Pending</span>
								{% endif %}

								{% if post.status == "published" %}
								Status: <span class="text-info">Published</span>
								{% endif %}

								{% if post.status == "rejected" %}
								Status: <span class="text-info">Rejected</span>
								{% endif %}
							</span></h4>
						<p>{{post.publish}}</p>
						<p>{{post.body|striptags|truncatewords_html:30}}</p>
						<a href="{% url 'blog:user_blog_detail' post.pk %}" class="btn btn-transparent pl-0">Read More</a>
					</li>

				</ul>
			</div>
			{% empty %}
			<div class="text-center mx-auto">
				{% if blog_filtered %}
				<h3 class="py-5">Oops, No Blogs found...</h3>
				<a class="btn btn-success btn-lg" href="{% url 'blog:user_blogs' %}">Back To Blogs</a>
				{% else %}
				<h3 class="my-5">You have no blogs posted yet...</h3>
				<a class="btn btn-success btn-lg" href="{% url 'blog:new_blog' %}">Start Blogging Now</a>
				{% endif %}
			</div>
			{% endfor %}



		</div>
	</div>
</section>
<!-- /search result -->

{% endif %}

{% if post_count > 9 %}
{% include "blog/partials/pagination.html" %}
{% endif %}
{% endblock content %}