{% extends "blog/base.html" %}
{% load static %}
{% load blog_tags %}
{% block title %}Pending Blogs Page{% endblock title %}

{% block content %}
{% if request.user.is_authenticated %}
{% if request.user.is_staff %}
<div class="row">
	<div class="col-lg-12 col-md-12 my-1">

		{% include "blog/post/search_form.html" %}

		{% if blog_filtered %}
		<div class="my-3">
			<h3>{{object_list}} Post{{object_list|pluralize}} available for your filter</h3>
		</div>
		{% else %}
		<div class="my-4 text-center">
			<h3>Pending Blogs</h3>
		</div>
		{% endif %}

		<!-- All Post Section -->
		<div class="row">
			{% for post in posts %}
			<div class="col-md-6 col-lg-4 col-xl-4 col-xxl-3 my-3">
				<div class="card shadow">
					<div class="card-image">
						<img class="img-fluid cover-image" src="{{ post.cover_image.url }}"
							alt="{{ post.title }}'s blog cover image" draggable="false">
					</div>
					<div class="card-title mt-4 p-1">
						<a class="text-decoration-none text-info fs-3 fw-light"
							href="{% url 'blog:user_blog_detail' post.pk %}">{{ post.title }}</a>
					</div>

					<div class="card-footer text-info">
						{% if post.status == "draft" %}
						Status: <span class="text-info">Pending</span>
						{% endif %}
					</div>

				</div>
			</div>
			{% empty %}
			<div class="text-center">
				{% if blog_filtered %}
				<h3 class="py-5">Oops, No Blogs found...</h3>
				<a class="btn btn-success btn-lg" href="{% url 'blog:post_list' %}">Back To Blogs</a>
				{% else %}
				<h3 class="my-5">You have no blogs posted yet...</h3>
				<a class="btn btn-success btn-lg" href="{% url 'blog:new_blog' %}">Start Blogging Now</a>
				{% endif %}
			</div>
			{% endfor %}

			{% if object_list > 9 %}
			{% include "blog/partials/pagination.html" %}
			{% endif %}

		</div>
		<!-- All Post Section -->

	</div>
</div>
{% else %}
<div class="text-center">
	<h3 class="my-5">You are not allowed to access this page and you know that right</h3>
	<a class="btn btn-success btn-lg" href="{% url 'blog:post_list' %}">Return To Blogs</a>
</div>
{% endif %}
{% endif %}
{% endblock content %}